<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.BusinessMapper">
    <insert id="addbusiness" parameterType="com.po.Business">
        INSERT INTO `business`(business_phone,business_password,contact_number,business_nickname,business_pic,isshop,business_time,state)
        VALUES
         (#{business_phone},#{business_password},#{contact_number},#{business_nickname},#{business_pic},0,#{business_time},0);
    </insert>

    <select id="isRegist" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from business where  business_phone= #{business_phone};
    </select>

    <select id="businesslogin" parameterType="com.po.Business" resultType="com.po.Business">
      SELECT business_id,business_phone,business_password,contact_number,business_nickname,business_pic,isshop,business_time,state
      from business where  business_phone= #{business_phone} and business_password=#{business_password};
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.po.Business">
        select * from business where business_id = #{business_id}
    </select>

    <update id="updatebusinessinfo" parameterType="com.po.Business">
        UPDATE `business`
        <set>
            <if test="business_password != null">
                business_password = #{business_password},
            </if>
            <if test="contact_number != null">
                contact_number = #{contact_number},
            </if>
            <if test="business_nickname != null">
                business_nickname= #{business_nickname},
            </if>
            <if test="business_pic != null">
                business_pic = #{business_pic},
            </if>
            <if test="isshop != null">
                isshop = #{isshop},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
        </set>
        WHERE business_id = #{business_id};
    </update>
</mapper>