<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ShopMapper">
    <insert id="addShop" parameterType="com.po.Shop">
        insert into shop (shop_name,business_id,shop_address,shop_pic,shop_notice,shop_score,shop_sales,shop_state,distance) VALUES
        (#{shop_name},#{business_id},#{shop_address},#{shop_pic},null,0,0,0,#{distance});
    </insert>

    <select id="selectshopforbusiness" parameterType="java.lang.Integer" resultType="com.po.Shop">
      SELECT shop_id,shop_name,shop_address,shop_pic,shop_notice,shop_score,shop_sales,shop_dishes,shop_state,distance from shop where business_id = #{business_id}
    </select>

    <select id="selectshopbystate" parameterType="java.lang.Integer" resultType="com.po.Shop">
      SELECT shop_id,shop_name,shop_address,shop_pic,shop_notice,shop_score,shop_sales,shop_dishes,shop_state,distance from shop where shop_state = #{shop_state}
    </select>

    <select id="selectshoprandom" resultType="com.po.Shop">
      SELECT shop_id,shop_name,shop_address,shop_pic,shop_notice,shop_score,shop_sales,shop_dishes,shop_state,distance from shop where shop_name like "%"#{shop_name}"%" order by rand() limit 15
    </select>

    <update id="updateshopinfo" parameterType="com.po.Shop">
        UPDATE `shop`
        <set>
            <if test="shop_name != null">
                shop_name = #{shop_name},
            </if>
            <if test="shop_address != null">
                shop_address = #{shop_address},
            </if>
            <if test="shop_pic != null">
                shop_pic= #{shop_pic},
            </if>
            <if test="shop_notice != null">
                shop_notice = #{shop_notice},
            </if>
            <if test="shop_score != null">
                shop_score = #{shop_score},
            </if>
            <if test="shop_sales != null">
                shop_sales = #{shop_sales},
            </if>
            <if test="shop_dishes != null">
                shop_dishes = #{shop_dishes},
            </if>
            <if test="shop_state != null">
                shop_state = #{shop_state}
            </if>
            <if test="distance != null">
                distance = #{distance}
            </if>
        </set>
        WHERE shop_id = #{shop_id};
    </update>
</mapper>